/* 
    Created on : 18 nov. 2014, 16:55:16
    Author     : da-sil_l
*/

.button {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
.button:hover {
    -fx-text-fill: blue;
}
.BlackBG {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
}